*{
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
    font-size: 1.0rem;
}
p{
    font-size: 0.9rem;
}
body{
    background-image: url(./media/wallpaper.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#pokedex-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.creadopor{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}
#audio{
    width: 300px;
    height: 20px;
    margin-top: 10px;
}
#pokedex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
/*PARTE ROJA IZQUIERDA*/
#parte-Roja-Izquierda{
    background-color: #c00e0e;
    height: 700px;
    width: 450px;
    border-radius: 40px 0px 0px 40px;
    border-bottom: 15px solid #650100;
    border-left: 10px solid #650100;
}
.circulo-azul{
    height: 85px;
    width: 85px;
    border: 4px solid white;
    border-radius: 50px;
    transform: translate(25%, 25%);
    background: #FFFFFF;
    background: -webkit-radial-gradient(center, #FFFFFF, #01CCFD);
    background: -moz-radial-gradient(center, #FFFFFF, #01CCFD);
    background: radial-gradient(ellipse at center, #FFFFFF, #01CCFD);
}
.circulo-rojo{
    height: 31px;
    width: 31px;
    border: 2px solid black;
    border-radius: 50px;
    background: #E39F9F;
    background: -webkit-radial-gradient(center, #E39F9F, #FF0000);
    background: -moz-radial-gradient(center, #E39F9F, #FF0000);
    background: radial-gradient(ellipse at center, #E39F9F, #FF0000);
    transform: translate(350%, -180%);
}
.circulo-amarillo {
    height: 31px;
    width: 31px;
    border: 2px solid black;
    border-radius: 50px;
    background: #FAFAD4;
    background: -webkit-radial-gradient(center, #FAFAD4, #FFFF00);
    background: -moz-radial-gradient(center, #FAFAD4, #FFFF00);
    background: radial-gradient(ellipse at center, #FAFAD4, #FFFF00);
    transform: translate(500%, -280%);
}
.circulo-verde {
    height: 31px;
    width: 31px;
    border: 2px solid black;
    border-radius: 50px;
    background: #DBF2D0;
    background: -webkit-radial-gradient(center, #DBF2D0, #80BE60);
    background: -moz-radial-gradient(center, #DBF2D0, #80BE60);
    background: radial-gradient(ellipse at center, #DBF2D0, #80BE60);
    transform: translate(650%, -380%);
}
.parte-gris{
    height: 350px;
    width: 350px;
    border: 1px solid black;
    background-color: #b0b0b0;
    transform: translate(15%,-10%);
    border-radius: 15px 15px 15px 50px;
}
.puntito-rojo-1{
    height: 10px;
    width: 10px;
    background-color: rgb(87, 13, 13);
    border-radius: 50px;
    transform: translate(1200%, -3700%);
}
.puntito-rojo-2 {
    height: 10px;
    width: 10px;
    background-color: rgb(87, 13, 13);
    border-radius: 50px;
    transform: translate(3200%, -3800%);
}
#pantalla{
    background: #fff;
    height: 240px;
    width: 300px;
    border: 3px solid black;
    border-radius: 15px;
    transform: translate(26%, -150%);
}
#pokeImg{
    object-fit: contain;
    object-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.boton-rojo{
    height: 34px;
    width: 34px;
    border: 3px solid black;
    border-radius: 50px;
    background-color: rgb(134, 27, 27);
    transform: translate(225%, -900%);
    
}
.barra-negra1{
    height: 2px;
    width: 120px;
    background-color: black;
    border: 10px;
    transform: translate(210%, -19300%);
}
.barra-negra2 {
    height: 2px;
    width: 120px;
    background-color: black;
    border: 10px;
    transform: translate(210%, -19100%);
}
.barra-negra3 {
    height: 2px;
    width: 120px;
    background-color: black;
    border: 10px;
    transform: translate(210%, -18900%);
}
.barra-negra4 {
    height: 2px;
    width: 120px;
    background-color: black;
    border: 10px;
    transform: translate(210%, -18700%);
}
.barra-negra5 {
    height: 2px;
    width: 120px;
    background-color: black;
    border: 10px;
    transform: translate(210%, -18500%);
}
.boton-azul{
    height: 70px;
    width: 70px;
    background: #5757FD;
    background: -webkit-linear-gradient(top, #5757FD, #0101FF);
    background: -moz-linear-gradient(top, #5757FD, #0101FF);
        background: linear-gradient(to bottom, #5757FD, #0101FF);
    border-radius: 50px;
    transform: translate(100%, -460%);
}
.boton-verde{
    height: 20px;
    width: 80px;
    background: #7FCD57;
    background: -webkit-linear-gradient(top, #7FCD57, #2C461F);
    background: -moz-linear-gradient(top, #7FCD57, #2C461F);
    background: linear-gradient(to bottom, #7FCD57, #2C461F);
    border-radius: 20px;
    transform: translate(190%, -1890%);
}
.boton-rojo2 {
    height: 20px;
    width: 80px;
    background: #D66666;
    background: -webkit-linear-gradient(top, #D66666, #871313);
    background: -moz-linear-gradient(top, #D66666, #871313);
    background: linear-gradient(to bottom, #D66666, #871313);
    border-radius: 20px;
    transform: translate(300%, -1980%);
}
.cruz-medio{
    background-color: #1f2025;
    height: 34px;
    width: 34px;
    transform: translate(976%, -1112%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cruz1{
    background-color: #1f2025;
    height: 30px;
    width: 35px;
    border-radius: 10px 0px 0px 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: translate(799%, -1212%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cruz2 {
    background-color: #1f2025;
    height: 30px;
    width: 35px;
    border-radius: 0px 10px 10px 0px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: translate(987%, -1312%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cruz3 {
    background-color: #1f2025;
    height: 35px;
    width: 30px;
    border-radius: 10px 10px 0px 0px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    transform: translate(976%, -1392%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cruz4 {
    background-color: #1f2025;
    height: 35px;
    width: 30px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    transform: translate(975%, -1311%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*VISAGRA*/
#visagra{
    height: 700px;
    width: 70px;
    background: rgb(87, 13, 13);
        background: linear-gradient(270deg, rgba(87, 13, 13, 1) 0%, rgba(192, 14, 14, 1) 50%, rgba(87, 13, 13, 1) 100%); 
    border-bottom: 15px solid #650100;
}
.visagra-cuadro-1{
    height: 70px;
    width: 70px;
    background-color: rgb(87, 13, 13);
    transform: translate(0, 215%);
}
.visagra-cuadro-2{
    height: 70px;
    width: 70px;
    background-color: rgb(87, 13, 13);
    transform: translate(0, 650%);
}
/*PARTE ROJA DERECHA*/
button{
  font-size: 17px;
  font-weight: bold;
  border: none;
  position: absolute;
  border-radius: 0.75em;
  background-color: white;
}
.boton{
    margin-top: 10px;
    display: block;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0.75em;
    padding: 0.75em 1.5em;
    background: white;
    transform: translatey(250%);
    border-bottom: 7px solid black;
}
.boton:active{
    transform: translatey(260%);
    background-color: rgb(228, 228, 228);
    border-bottom: 5px solid black;
}
#pokeName{
    font-size: 1.4rem;
    margin: 5px;
    background-color: yellow;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    transform: translatey(100%);
    text-transform: uppercase;
}
#parte-Roja-Derecha {
    margin-top: 150px;
    background-color: #c00e0e;
    height: 550px;
    width: 450px;
    border-radius: 0px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 15px solid #650100;
}
.pantalla-verde{
    height: 200px;
    width: 360px;
    background: #92EC64;
    background: -webkit-radial-gradient(center, #92EC64, #375726);
    background: -moz-radial-gradient(center, #92EC64, #375726);
    background: radial-gradient(ellipse at center, #92EC64, #375726);
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    transform: translatey(-40%);
    border: 10px solid transparent;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    overflow: auto;
    text-transform: uppercase;
}
.botn-pequeno-naranja{
    background: #E39F9F;
    background: -webkit-radial-gradient(center, #E39F9F, #FF0000);
    background: -moz-radial-gradient(center, #E39F9F, #FF0000);
    background: radial-gradient(ellipse at center, #E39F9F, #FF0000);
    border: 1px solid black;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    z-index: 100;
    transform: translate(-700%, 800%);
}
.botn-pequeno-verde {
    background: #DBF2D0;
    background: -webkit-radial-gradient(center, #DBF2D0, #80BE60);
    background: -moz-radial-gradient(center, #DBF2D0, #80BE60);
    background: radial-gradient(ellipse at center, #DBF2D0, #80BE60);
    border: 1px solid black;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    z-index: 100;
    transform: translate(-500%, 710%);
}
